<section class="w-full flex flex-col gap-4 px-4 py-8 bg-white rounded shadow-xl sm:p-16">
    <h1 class="text-3xl font-black text-color__link-100">
        Lo sentimos!
    </h1>
    <h2 class="text-xl font-black">
        La ruta a la que estás intentando acceder no existe
    </h2>
    <div class="h-[.25rem] w-full separator z-[1]"></div>
    <span class="text-center">
        Te aconsejamos volver a la página principal haciendo <a routerLink="/home" class="text-color__link-100 italic">click aquí</a>.
    </span>
</section>