<div class="w-full h-full p-4 sm:max-w-[480px] sm:max-h-[480px] xl:max-w-[840px] xl:max-h-[840px] 2xl:max-w-[1280px] 2xl:max-h-[1280px]">
    <img [src]="this.modalData.imgURL" [alt]="this.modalData.title" class="w-full h-full object-contain">
</div>
<div class="w-[480px] h-full bg-white flex flex-col justify-between gap-16 p-8 rounded-r">
    <div class="flex gap-4 items-center justify-between">
        <a [routerLink]="'/account/' + this.modalData.userRef" class="flex gap-2 items-center">
            <div class="relative w-8 h-8 rounded-full bg-black flex justify-center items-center">
                <span class="text-[.8rem] text-white">
                    {{this.modalData.userRef.charAt(0).toUpperCase()}}
                </span>
                <img *ngIf="this.modalData.userImg && this.modalData.userImg.length > 0" [src]="this.modalData.userImg" class="absolute w-full h-full object-cover rounded-full">
            </div>
            <h3 class="font-bold">
                {{this.modalData.userRef}}
            </h3>
        </a>
        <a [routerLink]="this.backUrl === 'account' ? '../' : '../../'">
            <mat-icon>close</mat-icon>
        </a>
    </div>
    <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4 overflow-auto modal_submit__content">
            <h4 class="text-xl font-black py-2">
                {{this.modalData.title}}
            </h4>
            <div class="h-[.25rem] w-full separator"></div>
            <div class="flex flex-col gap-4">
                <p>
                    {{this.modalData.content}}
                </p>
                <span class="font-extralight italic">
                    {{this.modalData.date.slice(6,8)}} / {{this.modalData.date.slice(4,6)}} / {{this.modalData.date.slice(0,4)}}
                </span>
            </div>
        </div>
        <a *ngIf="this.statesService.account && this.modalData.userRef === this.statesService.account.user" (click)="deleteSubmitRequest(this.modalData.id, this.modalData.imgID)" [routerLink]="this.backUrl === 'account' ? '/' + this.backUrl + '/' + this.modalData.userRef : '/' + this.backUrl" class="py-2 px-4 outline outline-3 outline-[#f1f5f9] rounded-xl text-center text-colorRed1-100">
            Eliminar 
        </a>
    </div>
</div>