<section class="h-full flex flex-col">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
    class="w-full flex flex-col gap-4 p-4 bg-white rounded shadow-xl md:w-[320px] lg:p-8"
  >
    <figure class="w-full">
      <label for="fileInput" class="w-full">
        <div class="relative flex justify-center items-center bg-[#686868] rounded cursor-pointer">
          <img
            [src]="imgURL"
            alt=""
            class="object-cover w-full h-full rounded"
          />
          <img
            *ngIf="!this.image"
            [src]="imgURL"
            alt=""
            class="absolute object-cover w-full h-full rounded animate-[submitAnimation_10s_ease-in-out_infinite]"
          />
        </div>
      </label>
      <input
        (change)="setImgURL($event)"
        type="file"
        accept="image/*"
        id="fileInput"
        class="hidden"
      />
    </figure>
    <div class="w-full flex flex-col gap-4">
      <div class="w-full flex flex-col justify-center">
        <textarea
          type="text"
          autosize
          [minRows]="1"
          placeholder="Título"
          formControlName="title"
          [class.is-invalid]="invalidTitle"
          minlength="15"
          maxlength="100"
          class="w-full placeholder:text-xl placeholder:text-gray placeholder:font-black text-xl text-black font-black focus:outline-none my-2 overflow-hidden resize-none"
        ></textarea>
        <small
          *ngIf="invalidTitle"
          [class]="
            invalidTitle
              ? 'text-color__danger-100 font-extralight italic'
              : 'text-colorGreen-100 font-extralight italic'
          "
        >
          {{ this.formGroup.value.title.length }} / 100 caracteres (mínimo: 15
          caracteres).
        </small>
      </div>
      <div class="h-[.25rem] w-full separator"></div>
      <div class="w-full flex flex-col justify-center">
        <textarea
          autosize
          [minRows]="1"
          placeholder="Descripción"
          formControlName="content"
          [class.is-invalid]="invalidContent"
          minlength="20"
          maxlength="500"
          class="w-full placeholder:text-gray text-black focus:outline-none resize-none"
        ></textarea>
        <small
          *ngIf="invalidContent"
          [class]="
            invalidContent
              ? 'text-color__danger-100 font-extralight italic'
              : 'text-colorGreen-100 font-extralight italic'
          "
        >
          {{ this.formGroup.value.content.length }} / 500 caracteres (mínimo: 20
          caracteres).
        </small>
      </div>
      <input
        type="submit"
        value="Subir publicación"
        class="w-full text-center py-2 px-4 outline outline-3 outline-[#f1f5f9] rounded-xl cursor-pointer"
      />
    </div>
  </form>
</section>
