<section *ngIf="this.account && !this.account.message" class="relative p-4 flex flex-col gap-8 sm:px-16 sm:pb-16 lg:pt-16">

    <div class="absolute w-full h-full pt-[4.25rem] top-0 left-0 lg:pt-0">
        <div class="w-full h-full bg-white rounded shadow-xl"></div>
    </div>

    <!-- Si sos casual -->
    <div *ngIf="this.statesService.account === null" class="relative flex flex-col gap-4 lg:flex-row lg:w-full">
        <div class="w-full flex justify-center items-center lg:w-full">
            <div class="w-[6.5rem] h-[6.5rem] p-1 rounded-full bg-white flex justify-center items-center shadow-md shadow-black/25 lg:w-[9.75rem] lg:h-[9.75rem]">
                <img *ngIf="this.account.imgURL.length !== 0" [src]="this.account.imgURL" [alt]="'Imágen de ' + this.account.name + ' ' + this.account.lastName" [title]="'Imágen de ' + this.account.name + ' ' + this.account.lastName" class="w-full h-full object-cover rounded-full">
                <span *ngIf="this.account.imgURL.length === 0" class="w-full h-full rounded-full bg-color__link-100 flex justify-center items-center text-[2rem] text-white lg:text-[3.5rem]">
                    {{this.account.user.charAt(0).toUpperCase()}}
                </span>
            </div>
        </div>
        <div class="flex flex-col gap-4 lg:w-full">
            <div class="flex flex-col">
                <h4 class="text-3xl font-bold">
                    <span>{{this.account.user}}</span>
                </h4>
                <h5 class="text-xl italic">
                    {{this.account.name}} {{this.account.lastName}}
                </h5>
            </div>
            <ul>
                <li>
                    Sexo: <span class="font-extralight italic">{{this.account.genre === "male" ? 'masculino' : 'femenino'}}</span>
                </li>
                <li>
                    Edad: <span class="font-extralight italic">{{this.account.age}}</span>
                </li>
                <li>
                    E-mail: <span class="font-extralight italic">{{this.account.email}}</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Si estás registrado -->
    <div *ngIf="this.statesService.account" class="relative flex flex-col gap-8 lg:flex-row lg:w-full">
        <div class="w-full flex flex-col justify-center items-center gap-4 lg:w-full">
            <div *ngIf="this.statesService.account.user !== this.account.user" class="w-[6.5rem] h-[6.5rem] p-1 rounded-full bg-white flex justify-center items-center shadow-md shadow-black/25 lg:w-[9.75rem] lg:h-[9.75rem]">
                <img *ngIf="this.account.imgURL.length !== 0" [src]="this.account.imgURL" [alt]="'Imágen de ' + this.account.name + ' ' + this.account.lastName" [title]="'Imágen de ' + this.account.name + ' ' + this.account.lastName" class="w-full h-full object-cover rounded-full">
                <span *ngIf="this.account.imgURL.length === 0" class="w-full h-full rounded-full bg-color__link-100 flex justify-center items-center text-[2rem] text-white lg:text-[3.5rem]">
                    {{this.account.user.charAt(0).toUpperCase()}}
                </span>
            </div>
            <div *ngIf="this.statesService.account.user === this.account.user" class="relative w-[6.5rem] h-[6.5rem] p-1 rounded-full bg-white flex justify-center items-center shadow-md shadow-black/25 lg:w-[9.75rem] lg:h-[9.75rem]">
                <img *ngIf="this.statesService.account.imgURL.length !== 0" [src]="this.statesService.account.imgURL" [alt]="'Imágen de ' + this.statesService.account.name + ' ' + this.statesService.account.lastName" [title]="'Imágen de ' + this.account.name + ' ' + this.account.lastName" class="w-full h-full object-cover rounded-full">
                <span *ngIf="this.statesService.account.imgURL.length === 0" class="w-full h-full rounded-full bg-color__link-100 flex justify-center items-center text-[2rem] text-white lg:text-[3.5rem]">
                    {{this.statesService.account.user.charAt(0).toUpperCase()}}
                </span>
                <input id="fileInput" type="file" accept="image/*" (change)="postProfileCloudinary($event)" class="hidden"/>
                <label for="fileInput" [class]="this.statesService.account.imgURL.length > 0 ? 'absolute flex justify-center items-center bottom-0 left-0 w-8 h-8 rounded-full bg-white z-[1] shadow-md shadow-black/25 cursor-pointer' : 'absolute flex justify-center items-center bottom-0 right-0 w-8 h-8 rounded-full bg-white z-[1] shadow-md shadow-black/25 cursor-pointer'">
                    <mat-icon *ngIf="this.statesService.account.imgURL.length === 0" class="text-color__sucess-100">add_photo_alternate</mat-icon>
                    <mat-icon *ngIf="this.statesService.account.imgURL.length > 0" class="text-color__sucess-100">settings</mat-icon>
                </label>
                <button *ngIf="this.statesService.account.imgURL.length > 0" (click)="this.deleteProfileCloudinary()" class="absolute flex justify-center items-center right-0 bottom-0 w-8 h-8 rounded-full bg-white z-[1] shadow-md shadow-black/25">
                    <mat-icon class="text-color__danger-100">delete</mat-icon>
                </button>
            </div>
        </div>
        <div class="flex flex-col gap-4 lg:w-full">
            <div class="flex flex-col">
                <h4 class="text-3xl font-bold">
                    <span>{{this.account.user}}</span>
                </h4>
                <h5 class="text-xl italic">
                    {{this.account.name}} {{this.account.lastName}}
                </h5>
            </div>
            <ul>
                <li *ngIf="this.statesService.account.user === this.account.user">
                    Contraseña: <span class="font-extralight italic">{{this.password}}</span>
                </li>
                <li>
                    Sexo: <span class="font-extralight italic">{{this.account.genre === "male" ? 'masculino' : 'femenino'}}</span>
                </li>
                <li>
                    Edad: <span class="font-extralight italic">{{this.account.age}}</span>
                </li>
                <li>
                    E-mail: <span class="font-extralight italic">{{this.account.email}}</span>
                </li>
            </ul>
        </div>

    </div>
    <div *ngIf="this.statesService.account" class="relative flex flex-col gap-4">
        <a *ngIf="this.statesService.account.user === this.account.user" routerLink="/submit" class="w-full text-center py-2 px-4 outline outline-3 outline-[#f1f5f9] rounded-xl">Nueva publicación</a>
        <button *ngIf="this.statesService.account.user === this.account.user && this.deleteAccountAlert === false" (click)="setDeleteAccountAlert(true)" class="w-full py-2 px-4 outline outline-3 outline-[#f1f5f9] rounded-xl text-color__danger-100">
            Eliminar cuenta
        </button>
        <div *ngIf="this.deleteAccountAlert === true" class="w-full flex justify-center items-center gap-2 py-2 px-4 outline outline-3 outline-[#f1f5f9] rounded-xl">
            <button (click)="eliminarCuenta()" class="w-full text-color__sucess-100">
                Aceptar
            </button>
            <div class="h-[1.5rem] w-[.5rem] separator"></div>
            <button (click)="setDeleteAccountAlert(false)" class="w-full text-color__danger-100">
                Cancelar
            </button>
        </div>
    </div>
    <div class="relative">
        <div class="absolute h-[.25rem] w-full separator z-[1]"></div>
    </div>
    <app-gallery></app-gallery>

</section>

<app-not-found *ngIf="this.account && this.account.message"></app-not-found>
